.c-background-video {
	transition:opacity 0.5s ease-in; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; position: absolute; opacity: 0; pointer-events: none;
}
.c-background-video.is-ready {
	opacity: 1 !important;
}
.c-background-video iframe {
	border-width: 0px; left: 50%; top: 50%; width: 177.77vh; height: 56.25vw; display: block !important; visibility: visible !important; position: absolute; min-height: 100%; min-width: 100%; opacity: 1 !important; transform: translate(-50%, -50%) !important; -webkit-transform: translate(-50%, -50%);
}
.c-background-video-controls {
	margin: 20px; transition:opacity 0.75s ease-in; right: 0px; bottom: 0px; display: flex; position: absolute; z-index: 1001; opacity: 0;
}
.c-background-video-controls.is-ready {
	opacity: 1;
}
.c-background-video-controls button {
	background: none; padding: 0px; border: 0px currentColor; transition:opacity 0.25s; border-image: none; width: 1em; height: 1em; font-size: 24px; margin-left: 0.2em; position: relative; opacity: 0.9; box-shadow: none;
}
.c-background-video-controls button:first-child {
	margin-left: 0px;
}
.c-background-video-controls button:hover {
	opacity: 0;
}
.c-background-video-controls button::before {
	background-position: center; left: 0px; top: 0px; right: 0px; bottom: 0px; display: block; position: absolute; content: ""; opacity: 0; background-repeat: no-repeat; background-size: cover;
}
.c-background-video-controls button::after {
	background-position: center; left: 0px; top: 0px; right: 0px; bottom: 0px; display: block; position: absolute; content: ""; opacity: 0; background-repeat: no-repeat; background-size: cover;
}
.c-background-video-controls button:not(.is-active)::before {
	opacity: 0;
}
.c-background-video-controls button.is-active::after {
	opacity: 0;
}
.c-background-video-controls button.c-background-video__play-button {
	display: block;
}
.c-background-video-controls button.c-background-video__play-button::before {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgba(255, 255, 255, 0.999999)%22%3E%3Cpath%20d%3D%22M14.016%205.016H18v13.969h-3.984V5.016zM6%2018.984V5.015h3.984v13.969H6z%22%2F%3E%3C%2Fsvg%3E");
}
.c-background-video-controls button.c-background-video__play-button::after {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgba(255, 255, 255, 0.999999)%22%3E%3Cpath%20d%3D%22M8.016%205.016L18.985%2012%208.016%2018.984V5.015z%22%2F%3E%3C%2Fsvg%3E");
}
.c-background-video-controls button.c-background-video__mute-button {
	display: block;
}
.c-background-video-controls button.c-background-video__mute-button::before {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgba(255, 255, 255, 0.999999)%22%3E%3Cpath%20d%3D%22M12%203.984v4.219L9.891%206.094zM4.266%203L21%2019.734%2019.734%2021l-2.063-2.063c-1.078.844-2.297%201.5-3.656%201.828v-2.063c.844-.234%201.594-.656%202.25-1.172l-4.266-4.266v6.75l-5.016-5.016H2.999v-6h4.734L2.999%204.264zm14.718%209c0-3.188-2.063-5.859-4.969-6.703V3.234c4.031.891%206.984%204.5%206.984%208.766a8.87%208.87%200%200%201-1.031%204.172l-1.5-1.547A6.901%206.901%200%200%200%2018.984%2012zM16.5%2012c0%20.234%200%20.422-.047.609l-2.438-2.438V7.968c1.5.75%202.484%202.25%202.484%204.031z%22%2F%3E%3C%2Fsvg%3E");
}
.c-background-video-controls button.c-background-video__mute-button::after {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgba(255, 255, 255, 0.999999)%22%3E%3Cpath%20d%3D%22M14.016%203.234C18.047%204.125%2021%207.734%2021%2012s-2.953%207.875-6.984%208.766v-2.063c2.906-.844%204.969-3.516%204.969-6.703s-2.063-5.859-4.969-6.703V3.234zM16.5%2012a4.451%204.451%200%200%201-2.484%204.031V7.968c1.5.75%202.484%202.25%202.484%204.031zM3%209h3.984L12%203.984v16.031l-5.016-5.016H3v-6z%22%2F%3E%3C%2Fsvg%3E");
}
