@font-face {
	font-family: Arimo;
	src: url(https://fonts.gstatic.com/s/arimo/v17/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxsBA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Arimo;
	src: url(https://fonts.gstatic.com/s/arimo/v17/P5sfzZCDf9_T_3cV7NCUECyoxNk3CstsBA.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
