.wpml-ls-legacy-list-horizontal {
	padding: 7px; border: 1px solid transparent; border-image: none; clear: both;
}
.wpml-ls-legacy-list-horizontal > ul {
	margin: 0px !important; padding: 0px; list-style-type: none;
}
.wpml-ls-legacy-list-horizontal .wpml-ls-item {
	margin: 0px; padding: 0px; display: inline-block; list-style-type: none;
}
.wpml-ls-legacy-list-horizontal a {
	padding: 5px 10px 6px; line-height: 1; text-decoration: none; display: block;
}
.wpml-ls-legacy-list-horizontal a span {
	vertical-align: middle;
}
.wpml-ls-legacy-list-horizontal a span.wpml-ls-bracket {
	
}
.wpml-ls-legacy-list-horizontal .wpml-ls-flag {
	vertical-align: middle; display: inline;
}
.wpml-ls-legacy-list-horizontal .wpml-ls-flag + span {
	margin-left: 0.4em;
}
.rtl .wpml-ls-legacy-list-horizontal .wpml-ls-flag + span {
	margin-right: 0.4em; margin-left: 0px;
}
.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
	margin-bottom: 30px;
}
.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer > ul {
	text-align: center;
}
