.wpcf7 .screen-reader-response {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(1px, 1px, 1px, 1px); -ms-word-wrap: normal !important;
}
.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em; padding: 0.2em 1em; border: 2px solid rgb(0, 160, 210); border-image: none;
}
.wpcf7 form.init .wpcf7-response-output {
	display: none;
}
.wpcf7 form.resetting .wpcf7-response-output {
	display: none;
}
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}
.wpcf7 form.sent .wpcf7-response-output {
	border-color: rgb(70, 180, 80);
}
.wpcf7 form.failed .wpcf7-response-output {
	border-color: rgb(220, 50, 50);
}
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: rgb(220, 50, 50);
}
.wpcf7 form.spam .wpcf7-response-output {
	border-color: rgb(245, 110, 40);
}
.wpcf7 form.invalid .wpcf7-response-output {
	border-color: rgb(255, 185, 0);
}
.wpcf7 form.unaccepted .wpcf7-response-output {
	border-color: rgb(255, 185, 0);
}
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: rgb(255, 185, 0);
}
.wpcf7-form-control-wrap {
	position: relative;
}
.wpcf7-not-valid-tip {
	color: rgb(220, 50, 50); font-size: 1em; font-weight: normal; display: block;
}
.use-floating-validation-tip .wpcf7-not-valid-tip {
	background: rgb(255, 255, 255); padding: 0.2em 0.8em; border: 1px solid rgb(220, 50, 50); border-image: none; left: 1em; top: -2ex; width: 24em; position: relative; z-index: 100;
}
.wpcf7-list-item {
	margin: 0px 0px 0px 1em; display: inline-block;
}
.wpcf7-list-item-label::before {
	content: " ";
}
.wpcf7-list-item-label::after {
	content: " ";
}
.wpcf7-spinner {
	margin: 0px 24px; padding: 0px; border-radius: 100%; border: currentColor; border-image: none; width: 24px; height: 24px; display: inline-block; visibility: hidden; position: relative; opacity: 0.75; background-color: rgb(35, 40, 45);
}
form.submitting .wpcf7-spinner {
	visibility: visible;
}
.wpcf7-spinner::before {
	transform-origin: 8px 8px; border-radius: 100%; border: currentColor; border-image: none; left: 4px; top: 4px; width: 6px; height: 6px; position: absolute; content: ""; animation-name: spin; animation-duration: 1000ms; animation-timing-function: linear; animation-iteration-count: infinite; background-color: rgb(251, 251, 252);
}
@media not all
{
.wpcf7-spinner::before {
	animation-name: blink; animation-duration: 2000ms;
}
}
.wpcf7 input[type='file'] {
	cursor: pointer;
}
.wpcf7 input[type='file']:disabled {
	cursor: default;
}
.wpcf7 :disabled.wpcf7-submit {
	cursor: not-allowed;
}
.wpcf7 input[type='url'] {
	direction: ltr;
}
.wpcf7 input[type='email'] {
	direction: ltr;
}
.wpcf7 input[type='tel'] {
	direction: ltr;
}
